.section__3 {
  margin-bottom: 40px;
}

.booking__block {

  &--wrap {
  max-width: 970px;
  text-align: center;
  border: 2px solid $red;
  margin: 0 auto;
  padding: 20px;
  }

  &--title {
    font-family: $source-sans-pro;
    font-weight: $weight-semi-bold;
    font-style: $font-style-base;
    color:$red;
    font-size: 1.2rem;

    @media (min-width: 768px){
      font-size: 1.4rem;
    }
  }

  &--plans-text {
    font-family: $source-sans-pro;
    font-weight: $weight-bold;
    font-style: $font-style-base;
    font-size: 1.7rem;
    text-transform: uppercase;
    margin: 0;

    @media (min-width: 769px){
      max-width: 150px;
      line-height: 1;
      text-align: center;
      margin: 0 auto 10px auto;
    }
  }

  &--plan-2 {
    padding-bottom: 30px;
  }

  &--plan-3 {
    padding-bottom: 30px;
  }

  &--plans-condition {
    font-size: .9rem;
    letter-spacing: 1px;
    font-family: $source-sans-pro;
    font-weight: $weight-semi-bold;
    font-style: $font-style-base;
    margin-top: .8rem;
  }

  &--plans-link {
    display: inline-block;
    padding: 15px 50px;
    font-size: .9rem;
    letter-spacing: 1px;
    color: $white;
    background-color: $red;
    font-family: $source-sans-pro;
    font-weight: $weight-semi-bold;
    font-style: $font-style-base;
    border-radius: 4px;
    line-height: 1;

    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  &--more {
    font-family: $source-sans-pro;
    font-weight: $weight-bold;
    font-style: $font-style-base;
    font-size: 1.2rem;
    letter-spacing: 1px;
  }

  &--more-link {
    color: $red;
    text-decoration: underline;

    &:hover {
      color: $red;
    }
  }

  &--more-text {
    margin: 0;
  }
}