.standar__news {

  &--img {
    max-width: 100%;
    width: 100%;
    display: block;
  }

  &--figcaption-first {
    font-family: $font-sans-serif-condensed;
    font-weight:$weight-bold;
    $font-style-base: normal;
    font-size: 1.19rem;
    line-height: 1.8rem;
    z-index: 9;

    @media (min-width: 1024px){
      font-size: 1.8rem;
    }
  }

  &--link-title-first {
    color: $black;

    &:hover {
      color: $black;
      text-decoration: none;
    }

    @media (min-width: 1024px){
      color: $white;

      &:hover {
        color: $white;
      }
    }
  }

  &--caption-first {
    padding: .7rem 0 1.6rem 0;

    @media (min-width: 1024px){
      padding: .7rem 1.6rem 1rem;
      line-height: 1.2;
    }


  }

  &--info-first {

    @media (min-width: 1024px) {
      position: absolute;
      bottom: 10px;
      left: 0;
      width: 100%;
      z-index: 2;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 8px 16px;
  

    &:before {
      position: absolute;
      top: 0;
      left: 7px;
      z-index: 1;
      content: "";
      width: 97.6%;
      height: 99%;
      background-image: linear-gradient(transparent 20%, rgba(0, 0, 0, 0.9) 95%);
    }
  }
}

  &--link-title {
    color: $white;

    &:hover {
      color: $white;
      text-decoration: none;
    }
  }

  &--figure:before {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    content: "";
    width: 100%;
    height: 97%;
    background-image: linear-gradient(transparent 20%,rgba(0,0,0,.9) 95%);

    @media (min-width: 1024px){
      width: 95%;
      height: 92%;
    }
  }

  &--figcaption {
    font-family: $font-sans-serif-condensed;
    font-weight:$weight-bold;
    $font-style-base: normal;
    font-size: 1rem;
    line-height: 1.375rem;
  }

  &--full {
      @media (min-width: 1024px){
        padding-right: 16px;
      }
  }

  &--info {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    z-index: 2;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 8px 16px;
  }

  &--type {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    height: 36px;
    background-color: $red;
    z-index: 1;

    @media (min-width: 1024px){
      top: 8px;
      right: -8px;
    }
  }

  &--type-play {
    height: 14px;
    z-index: 1;
    color: $white;
    fill: none;
  }

  &--type-play {
      width: 16px;
      height: 16px;
  }

  &--icon-svg {
      fill:$white;
      z-index: 9;

      @media (min-width: 1024px){
        width: 50px;
        height: 25px;
    }
  }
}

.horizontal__dwc {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    width: 100%;
    margin-bottom: 40px;
    background-color: $dwc-bg-grey;
    padding: 40px 5px;
    margin-top: 3rem;

  &--container {
    display: flex;
    flex-direction: column;

      @media (min-width: 1024px){
        flex-direction: row;
      }
  }

  &--item-first {
    width: 100%;
    padding: 0 8px;
    display: inline-block;
    vertical-align: top;
    white-space: normal;

      @media (min-width: 1024px){
        padding-right: 16px;
        width: 100%;
        position: relative;
        background: none;
        color: $light-black;
        font-size: 1.5rem;
        line-height: 2rem;
        left: 0;
      }
  }

  &--second-block {
    white-space: nowrap;
    overflow-y: hidden;
    overflow-x: scroll;
    display: flex;
    flex-wrap: nowrap;

    @media (min-width: 1024px){
      flex-direction: column;
      white-space: inherit;
      overflow: inherit;
      justify-content: center;
    }
  }

  &--item {
    flex: 0 0 80%;
    max-width: 80%;
    margin-right: 4px;
    display: inline-block;
    width: 80%;
    vertical-align: top;
    white-space: normal;
    position: relative;

    @media (min-width: 1024px){
      flex: 0 0 auto;
      width: 100%;
      max-width: 100%;
      margin-right: 0;
    }
  }

  &--title-section{
    text-align: center;
    font-family: $font-sans-serif-condensed;
    font-weight:$weight-bold;
    $font-style-base: normal;
    font-size: 1.6rem;
    line-height: 1.2;
    text-transform: uppercase;
    color: $light-black;

    @media (min-width: 1024px){
      font-size: 2.22rem;
      letter-spacing: .7px;
    }
  }

  &--subtitle-section {
    text-align: center;
    font-family: $font-sans-serif-condensed;
    font-weight:$weight-bold;
    $font-style-base: normal;
    font-size: 1rem;
    color: $light-black;
    display: block;
    line-height: 1.2;
    margin-bottom: 2rem;

    @media (min-width: 1024px){
      font-size: 1.6rem;
    }

  }

  &--subtitle-section-img {
    fill: $red;
    width: 60px;
    height: 28px;
    display: inline-block;

    @media (min-width: 1024px){
      width: 85px;
      vertical-align: text-top;
    }
  }
}