.error__title {
  position: relative;
  background-color: #cc0000;
  color: #FFFFFF;
  height: 250px;
  width: 250px;
  text-transform: uppercase;
  margin: 2rem auto 1.875rem auto;
  padding: 0;
  text-align: center;
  border-radius: 50%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
}
