@import url("https://use.typekit.net/ten7upb.css");

$font-sans-serif: 'roboto', sans-serif;
$font-sans-serif-condensed:'roboto-condensed', sans-serif;
$weight-regular: 400;
$weight-medium: 501;
$weight-semi-bold: 600;
$weight-bold: 700;
$font-style-base: normal;

$font-serif: 'pt-serif', serif;

$source-sans-pro:'source-sans-pro', sans-serif;
